<!-- SUBSCRIPTION -->
<section class="subscription">
    <div class="container">
        <div class="row">
            <div class="subscription-section">
                <img
                    class="subscription-image"
                    src="assets/img/jeweler2-home-pic3.webp"
                    alt=""
                />
                <div class="d-flex justify-content-center">
                    <hr class="main-section-hr" />
                    <p class="main-section-title subscribe-title">VESTIBULUM</p>
                </div>
                <h2
                    class="subscription-heading mt-4 mb-5 subscribe-description"
                >
                    Subscribe to our newsletter <br />
                    and grab
                    <span class="subscription-sub-heading">30% OFF!</span>
                </h2>
                <input
                    class="subscription-input"
                    type="text"
                    placeholder="Your e-mail"
                />
                <button class="btns subscription-button">Sign up</button>
            </div>
        </div>
    </div>
</section>
