<!-- INFO SECTION -->
<section class="company-info" id="info-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center flex-column">
                <p class="info-since">since</p>
                <h2 class="info-year">1990</h2>
                <p class="info-description mb-md-0 mb-4">
                    Nulla posuere sit pharetra convallis mattis. Neque enim
                    mattis nibh ornare dui urna. Mattis velit donec praesent
                    nunc tellus.
                </p>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <img
                    class="ps-4 w-100"
                    src="assets/img/jeweler2-home-pic1.webp"
                    alt=""
                />
            </div>
            <div
                class="col-md-3 ps-4 pt-4 d-flex flex-md-column flex-row info-wrapper"
            >
                <div class="info-shop">
                    <h2 class="info-percent counter" data-val="35">0</h2>
                    <p class="info-detail">Shops all over the world</p>
                </div>
                <div class="info-shop">
                    <h2 class="info-percent counter" data-val="98%">0</h2>
                    <p class="info-detail">Off happy clients</p>
                </div>
                <div class="info-shop">
                    <h2 class="info-percent counter" data-val="58">0</h2>
                    <p class="info-detail">Top products used by</p>
                </div>
            </div>
        </div>
    </div>
</section>
