/* MEDIA QUERY */

@media only screen and (min-width: 2000px) {
    .exclusive-categories {
        margin-bottom: 35rem;
    }
    .exclusive-categories {
        margin-bottom: 35rem;
    }
    .exclusive-images {
        height: 600px;
        overflow: hidden;
        justify-content: center;
    }
    .product-preview {
        max-height: 650px !important;
    }
    .preview-info-container {
        max-height: 650px !important;
    }
    .login-box {
        right: 5%;
    }
}

@media only screen and (max-width: 2000px) {
    .exclusive-categories {
        margin-bottom: 32rem;
    }
    .exclusive-categories {
        margin-bottom: 30rem;
    }
    .exclusive-images {
        height: 600px;
        overflow: hidden;
    }
}
@media (max-width: 2000px) and (min-width: 1450px) {
    .product-preview {
        max-height: 600px !important;
    }
    .preview-info-container {
        max-height: 600px !important;
    }
    .login-box {
        right: 6%;
    }
}
@media only screen and (min-width: 1400px) {
    .surprise-box-wrapper {
        max-width: 1400px;
    }
}
@media only screen and (max-width: 1550px) {
    .exclusive-categories {
        margin-bottom: 24rem;
    }
    .exclusive-images {
        height: auto;
        overflow: auto;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        position: fixed;
        z-index: 75;
        background: $body-clr;
        right: 0;
        top: 0;
        height: 100%;
        min-width: 20%;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        transform: translateX(100%);
        transition: transform 0.5s;
    }
    .navbar-links.show {
        transform: translateX(0);
    }
    .navbar-links-icons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: all 0.5s;
    }
    .navbar-links.show .navbar-links-icons-container {
        transform: translateX(0);
    }
    .navbar-links.show .navbar-links-money {
        display: block !important;
    }
    .navbar-cancel-button {
        position: absolute;
        top: 2%;
        right: 5px;
        display: block;
        border: none;
        background: none;
        transform: translateX(100%);
        transition: all 0.5s;
    }
    .navbar-links.show .navbar-cancel-button {
        transform: translateX(0);
    }
    .navbar-cancel-button svg {
        stroke: $primary-clr;
    }
    .navbar-cancel-button svg:hover {
        stroke: #000;
    }
    .navbar-item {
        margin-right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        &:last-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .navbar-link:hover {
        border-bottom: none;
    }
    .navbar-link:is(:link, :active, :visited).active {
        border-bottom: none;
        color: #000;
        path {
            fill: #000;
        }
    }
    .carousel-caption-box {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1100px) {
    .client-logo {
        padding: 18px;
    }
    .carousel-caption-box {
        margin-top: 0;
    }
    .filter-toggle {
        max-width: 40%;
    }
}
@media only screen and (max-width: 991px) {
    .navbar-links.show {
        min-width: 25%;
    }
    .main-banner-heading {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .carousel-caption {
        margin-right: -80px !important;
    }
    .login-box {
        top: 15%;
        right: 17%;
    }
    .md-none {
        display: none;
    }
    .md-ps {
        padding-left: 2rem !important;
    }
    .md-pe {
        padding-right: 2rem !important;
    }
    .exclusive-categories {
        margin-bottom: 18rem;
    }
    .exclusive-images {
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    .exclusive-season,
    .exclusive-price {
        overflow: hidden;
        height: 500px;
    }
    .exclusive-banner-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }
    .exclusive-off-heading {
        font-size: 3.5rem;
    }
    .exclusive-categories {
        margin-bottom: 32rem;
    }
    .exclusive-section {
        margin-bottom: 38rem;
    }
    .product-preview {
        max-height: 340px !important;
    }
    .preview-info-container {
        max-height: 340px !important;
    }
}
@media only screen and (max-width: 960px) {
    .info-year {
        font-size: 4rem;
    }
    .surprise-section {
        padding: 6rem 0;
    }
    .exclusive-category {
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-links.show {
        min-width: 35%;
    }
    .navigation-row {
        display: flex;
        flex-direction: row-reverse;
    }
    .navbar-toggle-container {
        width: 50% !important;
        justify-content: flex-end;
    }
    .navbar-logo-container {
        width: 50% !important;
        justify-content: flex-start;
    }
    .navbar-logo-icon {
        width: 35px;
    }

    .navbar-icons-container {
        position: fixed;
        top: 89%;
        left: 0;
        justify-content: space-between;
        background-color: $body-clr;
        padding-left: 3rem !important;
        padding-right: 3rem !important;
        z-index: 50;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .navbar-product-container,
    .navbar-user-container,
    .navbar-wish-container,
    .navbar-store-container {
        margin-right: 0;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar-wish-container {
        order: 2;
    }

    .navbar-links-md {
        margin-right: 15px;
    }

    .navbar-money {
        display: none;
    }

    .navbar-product-icon {
        display: block;
    }

    .main-section-heading,
    .products-heading {
        font-size: 2.75rem;
    }
    .main-banner-title-box {
        justify-content: center;
    }
    .main-banner-heading {
        text-align: center;
        margin-bottom: 4rem;
    }
    .banner-button {
        display: none;
    }
    .carousel-image {
        margin-left: 50px;
    }
    .carousel-inner {
        height: 600px;
    }
    .carousel-caption {
        top: 100%;
        align-items: center !important;
    }
    .carousel-caption-box {
        margin-right: 80px;
    }
    .carousel-caption-price,
    .carousel-caption-title {
        text-align: center;
    }
    .carousel-caption-button {
        display: none;
    }
    .slider-btn-left {
        left: 5%;
    }
    .slider-btn-right {
        left: 50%;
    }
    .carousel-xl-button {
        display: inline;
        color: $primary-clr;
        font-family: "Jost", sans-serif;
        border: none;
        background: none;
        position: relative;
        left: 34%;
        transform: translate(-50%, 50%);
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $primary-clr;
        }
    }
    .preview-carousel-inner {
        height: 100% !important;
    }
    .exclusive-categories {
        margin-bottom: 36rem;
    }
    .exclusive-banner-heading {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
    .exclusive-off-heading {
        font-size: 2.2rem;
    }
    .surprise-heading {
        font-size: 2rem;
    }
    .surprise-content-center {
        justify-content: center;
    }
    .surprise-text-right {
        order: 1;
        width: 50% !important;
        text-align: center;
    }
    .surprise-image {
        order: 3;
    }
    .surprise-offside {
        order: 2;
        text-align: center;
        width: 50% !important;
    }
    .surprise-gap {
        margin-top: 0;
    }
    .surprise-digit {
        font-size: 2rem;
    }
    .surprise-text-right h5,
    .surprise-offside h5 {
        font-size: 1.1rem !important;
    }
    .client-logo {
        padding: 50px;
    }
    .gallery-container {
        padding: 2.5rem !important;
    }
    .t-md-center {
        text-align: center;
    }
    .copyright-button {
        display: block;
        margin: 0 auto;
    }
    .contact-heading {
        margin-bottom: 1.5rem;
    }
    .contact-btn {
        margin-top: 0.5rem;
    }
    .contact-tel {
        font-size: 2rem;
    }
    .contact-email {
        font-size: 1.5rem;
    }

    .product-preview {
        overflow-y: scroll;
        width: 95% !important;
        max-height: 95% !important;
    }
    .preview-info-container {
        overflow-y: visible !important;
        max-height: 100%;
    }
    .preview-close-button {
        position: fixed;
        right: 125px;
        top: 25px;
    }
    .products-wrapper {
        padding: 0 1rem !important;
    }

    .qa-container {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .qa-content {
        padding-top: 5rem !important;
    }

    .info-since,
    .info-description {
        text-align: center;
    }

    .info-year {
        margin: 0 auto;
    }

    .info-shop {
        &:not(:last-child) {
            margin-bottom: 0rem;
        }
    }

    .info-percent {
        font-size: 2rem;
    }

    .info-detail {
        font-size: 0.8rem;
    }

    .info-wrapper {
        justify-content: space-between !important;
    }

    .collection-container {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .collection-heading {
        font-size: 2rem;
    }
    .collection-quote {
        margin: 0 auto;
        width: 10%;
    }
    .about-story {
        padding-right: 0;
        text-align: center;
        border: none;
    }

    .inspirations-sections {
        margin-top: 9rem;
    }

    .inspirations-digit {
        margin-top: -7rem;
        left: 80%;
    }
    .inspirations-digit-change {
        margin-top: -7rem !important;
        left: 20% !important;
    }
    .inspirations-heading {
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;
    }
    .inspirations-paragraph-color {
        text-align: center;
    }
    .inspirations-button {
        margin: 0 auto;
        margin-top: 2rem;
    }

    .subscription-section {
        padding-bottom: 2.5rem;
    }
    .subscription-heading br {
        display: none;
    }
    .subscription-input {
        width: 100%;
    }
    .subscription-button {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }
    .md-none {
        display: block;
    }
    .md-ps {
        padding-left: 0 !important;
    }
    .md-pe {
        padding-right: 0 !important;
    }
    .filter-heading {
        font-size: 1.5rem;
    }
    .product-find-link-xl {
        display: block !important;
        text-align: center;
        padding-bottom: 4rem;
    }
    .product-find-link {
        display: none;
    }
    .cart-type-row-border {
        display: none;
    }
    .cart-product-row {
        font-size: 1rem;
    }
    .cart-type-d-none {
        display: block;
    }
    .cart-product-name {
        display: flex;
        justify-content: space-between;
    }
    .cart-pricing-detail,
    .cart-quantity,
    .cart-totals {
        display: flex;
        justify-content: space-between;
        padding: 12px 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .cart-remove-box {
        justify-content: center;
        padding: 12px 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .cart-product-image {
        display: none;
    }
    .update-cart-btn {
        width: 100%;
    }
    .cart-box,
    .wishlist-box {
        margin-top: 6rem;
    }
    .login-box {
        display: none !important;
    }
    .filter-bar-box {
        flex-direction: column-reverse;
    }
    .filter-price-button {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 675px) {
    .preview-close-button {
        position: fixed;
        right: 80px;
        top: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .popup-image-container,
    .popup-close,
    .index {
        width: 90%;
    }
    .preview-close-button {
        position: fixed;
        right: 30px;
        top: 25px;
    }
    .lost-account-box {
        width: 70%;
    }
    .filter-toggle {
        max-width: 50%;
    }
    .range-slider input {
        width: 104%;
    }
}

@media only screen and (max-width: 575px) {
    .navbar-links.show {
        min-width: 40%;
    }
    .home-percent,
    .home-paragraph {
        text-align: center;
    }
    .exclusive-images,
    .exclusive-season,
    .exclusive-price {
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .carousel-inner {
        height: 500px;
    }
    .carousel-xl-button {
        left: 32%;
    }
    .slider-btn-right {
        left: 45%;
    }
    .single-xl {
        width: 100% !important;
    }
    .inspirations-paragraph {
        font-size: 1.4rem;
    }
    .inspirations-quote {
        width: 10%;
    }
    .inspirations-digit {
        font-size: 9.5rem !important;
    }
    .exclusive-category {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 440px) {
    .navbar-links.show {
        min-width: 55%;
    }
    .carousel-image {
        margin-left: 35px;
    }
    .carousel-xl-button {
        left: 29%;
    }
    .slider-btn-right {
        left: 35%;
    }
    .surprise-digit-gap,
    .surprise-gap {
        margin-top: 2.5rem !important;
    }
    .surprise-text-right {
        width: 100% !important;
    }
    .surprise-offside {
        width: 100% !important;
    }
    .preview-options {
        font-size: 1rem;
        padding-right: 0.5rem;
    }
    .preview-options-select {
        width: 67%;
    }
    .preview-options-material {
        width: 100%;
    }
    .filter-toggle {
        max-width: 65%;
    }
    .product-details-container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .coupon-input {
        margin-bottom: 22px;
    }
    .apply-coupon-btn,
    .coupon-input {
        width: 100%;
    }
    .coupon-toggle input {
        width: 250px;
    }
    .coupon-toggle button {
        width: 250px;
    }
    .coupon-box p {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .carousel-inner {
        height: 425px;
    }
    .carousel-xl-button {
        left: 25%;
    }
    .slider-btn-right {
        left: 23%;
    }
    .client-logo {
        padding: 35px;
    }
    .exclusive-off-description {
        margin-bottom: 1rem !important;
        margin-top: 0.5rem !important;
    }
    .exclusive-section,
    .exclusive-categories {
        margin-bottom: 30rem;
    }
    .step-container .step {
        width: 30px;
        height: 30px;
    }
    .cart-items-contain {
        width: 325px;
    }
    .cart-items-contain .item-price {
        font-size: 1rem;
    }
}
