/* IMPORTS */
@import "imports.scss";

/* COMMON CSS */
body {
    font-family: "Jost", sans-serif;
    background-color: $body-clr !important;
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

/* BUTTON */
.btns {
    width: 130px;
    height: 45px;
    border: none;
    background-color: $primary-clr;
    color: $white-clr;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: all 0.4s;
    &:hover {
        background-color: transparent;
        border: 1px solid $primary-clr;
        color: $primary-clr;
    }
}

.theme-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-border {
    border-radius: 320px 320px 0 0;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: 1px solid $primary-clr;
    &::placeholder {
        color: $paragraph-clr !important;
    }
}

.contact,
.company-info {
    margin-top: $margin-lg;
    font-family: "Jost", sans-serif;
}

.image-wrapper {
    background-image: url(../img/jeweler2-section-bg1.webp);
    background-position: top;
}

/* SELECTION */
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
br,
span,
a,
li,
ul,
input,
textarea,
button,
img {
    &::selection {
        color: #fff;
        background-color: $primary-clr;
    }
}

/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 25;
    display: none;
}

.overlay.dark-overlay {
    display: block;
}

/* NAVIGATION */

.navigation {
    padding-top: 16px;
    font-family: "Jost", sans-serif;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    margin-top: 15px;
    padding-left: 0;
    z-index: 35;
}

.navbar-item {
    margin-right: 15px;
}

.navbar-link {
    text-decoration: none;
    color: $primary-clr;
    font-weight: 400;
    font-size: 20px;
    padding: 0 10px 6px;
    &:hover {
        border-bottom: 4px solid $primary-clr;
        color: $primary-clr;
    }
}

.navbar-link:is(:link, :active, :visited).active {
    border-bottom: 4px solid $primary-clr;
    color: $primary-clr;
}

.navbar-home-link {
    padding: 0 20px 6px;
}

.navbar-links-icons-container {
    display: none;
}

.navbar-logo-icon {
    width: 58px;
}

.navbar-toggle {
    border: none;
    background: none;
    display: none;
}

.navbar-toggle-icon {
    width: 24px;
}

.navbar-toggle-container {
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo-container {
    justify-content: center;
}

.navbar-money {
    color: $primary-clr;
    font-weight: 500;
    margin-top: 15px !important;
}

.navbar-home-icon {
    path {
        fill: $primary-clr;
    }
}

.navbar-icons-svg {
    .path {
        fill: none;
        stroke: $primary-clr;
        stroke-width: 1.5px;
    }
}

.navbar-icons-container {
    margin-top: 5px !important;
    padding-right: 1.5rem !important;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
}

.navbar-wish-container,
.navbar-store {
    position: relative;
}

.wishlist-box {
    margin-top: 12rem;
}
.wishlist-heading {
    text-align: center;
    font-family: bodoni-moda;
    color: $paragraph-clr;
}
.wishlist-button {
    background-color: $primary-clr;
    border: none;
    width: 120px;
    height: 40px;
    transition: all 0.3s;
    font-family: "Jost", sans-serif;
    a {
        color: #fff;
        text-decoration: none;
    }
    &:hover a {
        color: $primary-clr;
        text-decoration: none;
    }
    &:hover {
        background-color: transparent;
        border: 1px solid $primary-clr;
    }
}

.navbar-user-container,
.navbar-wish-container,
.navbar-store {
    margin-right: 14px;
}

.navbar-user-container,
.navbar-wish-container,
.navbar-store-container {
    cursor: pointer;
}

.navbar-badge {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    background-color: $primary-clr;
    color: #fff;
    font-size: 0.7rem;
    padding-left: 5px;
    line-height: 18px;
    top: -5px;
    right: -12px;
}

.login-box {
    display: none;
    padding: 15px;
    min-width: 25%;
    background-color: $body-clr;
    position: absolute;
    top: 10%;
    right: 12%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 25;
}
.login-close-button {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    background: none;
    border: none;
}
.login-close-button svg {
    stroke: rgba(26, 15, 15, 0.5);
    transform: rotate(0deg);
    transition: all 0.3s;
}
.login-close-button:hover svg {
    stroke: rgba(26, 15, 15, 1);
    transform: rotate(180deg);
}
.login-login {
    font-family: bodoni-moda;
    color: $paragraph-clr;
    padding-bottom: 25px;
}
.login-input {
    width: 100%;
    padding-bottom: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;

    &::placeholder {
        color: $secondary-clr;
    }
}
.login-user-icon {
    padding-left: 35px;
    background: url("../img/user-svgrepo-com.svg") no-repeat left;
    background-size: 35px;
}
.login-lock-icon {
    padding-left: 35px;
    background: url("../img/lock-svgrepo-com.svg") no-repeat left;
    background-size: 25px;
}
.login-remember {
    color: $secondary-clr;
}
.login-button {
    width: 100%;
    margin-top: 15px;
    background: $primary-clr;
    padding: 8px 0;
    border: none;
    transition: all 0.3s;
    a {
        color: #fff;
        text-decoration: none;
    }
    &:hover a {
        color: $primary-clr;
        text-decoration: none;
    }
    &:hover {
        background: transparent;
        border: 1px solid $primary-clr;
    }
}
.login-lost {
    color: $paragraph-clr;
    text-decoration: none;
    opacity: 0.7;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    &:hover {
        text-decoration: none;
        color: $paragraph-clr;
        opacity: 1;
    }
}

/* LOGIN ACCOUNT PAGE */
.login-account-box {
    font-family: "Jost", sans-serif;
    margin-top: 10rem !important;
}
.login-account-login {
    font-size: 2.5rem;
}
.login-account-input {
    line-height: 4rem;
}
.input-eye-icon {
    width: 15px;
    position: absolute;
    right: 0;
    top: 27%;
    cursor: pointer;
}

/* LOGIN FIXED BOX */
.login-fixed-box {
    min-width: 55%;
    background-color: $body-clr;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 65;
    padding-top: 15px;
    font-family: "Jost", sans-serif;
    display: none;
}
.fixed-login-heading {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-bottom: 3rem;
}
.fixed-close-button {
    left: 15px;
    right: 100%;
}

/* FIND ACCOUNT */
.find-link {
    font-family: "Jost", sans-serif;
    color: $primary-clr;
    opacity: 0.7;
    a {
        color: $primary-clr;
        text-decoration: none;
    }
    a:hover {
        color: $primary-clr;
        text-decoration: underline $primary-clr;
    }
}
.lost-account-box {
    width: 40%;
    margin: 0 auto;
    padding-top: 12rem;
}
.lost-account-description {
    font-family: "Jost", sans-serif;
    color: $secondary-clr;
}
.lost-account-heading {
    color: $paragraph-clr;
}
.lost-account-input {
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
}
.lost-account-button {
    width: 100%;
    background-color: $primary-clr;
    border: none;
    height: 45px;
    color: #fff;
    font-family: "Jost", sans-serif;
    transition: all 0.3s;
    &:hover {
        background-color: transparent;
        color: $primary-clr;
        border: 1px solid $primary-clr;
    }
}

/* CART */
.cart-collection {
    min-width: 30%;
    z-index: 22;
    top: 0;
    right: 0;
    height: 100%;
    background-color: $body-clr;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $secondary-clr;
    display: none;
}
.cart-close-button {
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
    background: none;
    border: none;
}
.cart-close-button svg {
    stroke: rgba(26, 15, 15, 0.5);
    transform: rotate(0deg);
    transition: all 0.3s;
}
.cart-close-button:hover svg {
    stroke: rgba(26, 15, 15, 1);
    transform: rotate(180deg);
}
.cart-collection-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
}
.cart-collection-heading {
    font-family: "bodoni-moda";
    font-size: 1.7rem;
    padding-left: 5px;
}
.cart-collection-header svg {
    .path {
        fill: none;
        stroke: #000;
        stroke-width: 1.5px;
    }
}
.cart-collect {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        padding-top: 10px;
        color: $secondary-clr;
    }
}
.cart-collect svg {
    .path {
        fill: none;
        stroke: #000;
        stroke-width: 1.5px;
        opacity: 0.2;
    }
}
.cart-incomes {
    margin: 0 10px;
}
.cart-subtotal {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-subtotal,
.cart-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.cart-total span {
    font-size: 1.5rem;
    font-weight: 800;
}
.navbar-product-icon,
.navbar-cancel-button {
    display: none;
}

.navigation.sticky {
    position: fixed;
    background-color: rgba(253, 247, 242, 0.95);
    z-index: 30;
    width: 100%;
}

.navigation.sticky .navbar-logo-icon {
    width: 30px !important;
}
.navigation.sticky.navigation {
    padding-top: 0 !important;
}

.navigation.sticky .navbar-logo-container {
    align-items: center;
}

/* MAIN HEADING */

.main-section {
    padding-top: $margin-lg;
}

.main-section-hr {
    width: 24px;
    height: 5px !important;
    margin-right: 10px;
    margin-top: 8px;
    background-color: $primary-clr;
    opacity: 1;
}

.main-section-title {
    font-family: "Jost", sans-serif;
    margin-bottom: 0;
    color: $primary-clr;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.main-section-heading {
    font-family: bodoni-moda;
    color: $primary-clr;
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
}

/* HOME PAGE */

/* HEADER / BANNER */

.banner-image-wrapper {
    background-image: url(../img/jeweler2-section-bg1.webp);
    background-position: top right;
}

.banner {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
}

.vl-left {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 33%;
    height: 100%;
    top: 0;
}

.vl-right {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 33%;
    height: 100%;
    top: 0;
}

.main-banner-hr {
    width: 20px;
    border: 1px solid $primary-clr;
    background-color: $primary-clr;
    margin-right: 10px;
    margin-top: 6px;
    opacity: 1;
}

.main-banner-title {
    font-size: 12px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
    color: $primary-clr;
}

.main-banner-heading {
    font-size: 4.5rem;
    font-weight: 400;
    text-align: left;
    line-height: 4.75rem;
    font-family: bodoni-moda;
    color: $primary-clr;
}

.banner-content {
    position: relative;
    top: 40%;
    z-index: 9;
}

.banner-button {
    a {
        color: #fff;
        text-decoration: none;
    }
    &:hover a {
        color: $primary-clr;
    }
}

.carousel-caption-box {
    margin-top: -16rem;
    max-width: 175px;
    position: relative;
}

.carousel-caption-title {
    font-size: 1.3rem;
    color: $dark-clr;
    font-family: "Jost", sans-serif;
    text-align: left;
}

.carousel-caption-price {
    font-size: 2.5rem;
    color: $dark-clr;
    font-family: bodoni-moda;
    text-align: left;
}

.carousel-caption-button {
    border: none;
    background: none;
    font-family: "Jost", sans-serif;
    color: $primary-clr;
    text-align: left;
    position: absolute;
    left: 0;
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $primary-clr;
    }
    a {
        color: $primary-clr;
        text-decoration: none;
        &:hover {
            color: $primary-clr;
            text-decoration: none;
        }
    }
}

.slider-btn {
    background: none;
    border: none;
    top: 20px;
    position: relative;
    left: 65%;
    transition: all 0.5s;
}
.slider-btn:hover {
    transform: scale(1.3);
}

.carousel-xl-button {
    display: none;
}

.animate-right {
    animation-name: run;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes run {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(10px);
    }
}

.animate-left {
    animation-name: runleft;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}
@keyframes runleft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* HOME COUNT */
.home-percent {
    color: $grey-clr;
    font-size: 2.75rem !important;
    text-align: left;
    font-family: bodoni-moda;
}
.home-paragraph {
    color: $dark-clr;
    font-size: 0.9rem !important;
    font-family: "Jost", sans-serif;
}

/* HOME EXCLUSIVE */
.exclusive-section {
    background-color: $bg-color;
    color: #fff;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 28rem;
}
.exclusive-content {
    padding-top: 8rem;
}
.exclusive-heading {
    color: #fff;
    text-align: center;
    font-size: 4.75rem;
    font-family: bodoni-moda;
}
.exclusive-sub-heading {
    font-family: bodoni-moda;
    margin-bottom: 6rem;
    text-align: center;
}
.exclusive-category {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1.5rem;
    margin-bottom: 6rem;
    transition: all 0.5s;
}
.exclusive-category-image {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15rem;
    transition: all 0.5s;
}
.exclusive-category:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin-top: -1rem;
}
.exclusive-category:hover .exclusive-category-image {
    background-color: $primary-clr !important;
    border: none;
}
.exclusive-category-name {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    margin-top: 2rem;
}
.exclusive-images {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 89vw;
    margin: 0 auto;
    display: flex;
}

.exclusive-banner-heading {
    line-height: 4.25rem;
    font-size: 5rem;
    color: #fff;
    position: absolute;
    font-family: bodoni-moda;
    top: 25%;
    z-index: 1;
    text-align: left;
    left: 13%;
}
.exclusive-price {
    position: relative;
    z-index: 12;
}

.exclusive-off {
    position: absolute;
    left: 13%;
    top: 20%;
}
.exclusive-off-heading {
    font-size: 4.5rem;
    font-family: bodoni-moda;
    color: $paragraph-clr;
}
.exclusive-off-description {
    font-family: "Jost", sans-serif;
    color: $secondary-clr;
    margin-bottom: 3rem !important;
    margin-top: 1.5rem !important;
}
.exclusive-off-button {
    a {
        color: #fff;
        text-decoration: none;
    }
    &:hover a {
        color: $primary-clr;
    }
}

/* HOME SURPRISE */
.surprise-section {
    width: 89vw;
    margin: 0 auto;
    color: #fff;
    padding: 6rem 2rem;
    position: relative;
    background-color: $bg-color;
    margin-top: 8rem;
    font-family: "Jost", sans-serif;
}
.surprise-title {
    color: $primary-clr;
}
.surprise-heading {
    font-family: bodoni-moda;
    font-size: 2.75rem;
}
.surprise-digit {
    font-family: bodoni-moda;
    font-size: 2.75rem;
    color: $primary-clr;
}
.surprise-digit-gap {
    margin-top: 7.5rem;
}
.surprise-gap {
    margin-top: 5rem !important;
}
.surprise-text-right {
    text-align: right;
}
.surprise-offer-button {
    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: $primary-clr;
        }
    }
}

.surprise-offer-button:hover a {
    color: $primary-clr;
}

/* HOME CLIENTS */
.client-logos {
    margin-top: 6rem;
}
.client-logo {
    padding: 30px 50px;
    cursor: pointer;
    position: relative;
}
.client-logo::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary-clr;
}

.client-logo:hover::after {
    width: 100%;
}

/* PRODUCTS PAGE */

.home-products {
    margin-bottom: 8rem;
}

.products-heading {
    font-size: 3rem;
    color: $grey-clr;
    text-align: left;
    margin-top: -0.5rem;
    font-family: bodoni-moda;
    font-weight: 400;
}

.products-wrapper {
    padding: 0 5rem !important;
    margin-top: 7.5rem;
}

.products-gallery {
    background-color: #f9f2ec;
    margin-bottom: 1.3rem;
    position: relative;
    cursor: pointer;
}

.product-details {
    padding-top: 1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.9rem;
    font-family: "Jost", sans-serif;
}

.product-item {
    font-size: 1.25rem;
    color: $paragraph-clr;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.product-discount {
    position: absolute;
    font-weight: 500;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 3px;
    display: inline-block;
    background-color: $primary-clr;
    font-family: "Jost", sans-serif;
    padding: 0.2rem 0.5rem;
    margin-top: 0.85rem;
    margin-left: 0.85rem;
}

.product-icons {
    position: absolute;
    right: 10px;
    top: 30px;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.product-link-button,
.product-wish-button,
.product-preview-button {
    width: 35px;
    height: 35px;
    line-height: 20px;
    border: none;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s;
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:hover {
        background: $primary-clr;

        .product-icons-svg {
            path {
                stroke: #fff;
                stroke-width: 1.5px;
                fill: none;
            }
            polyline.path,
            line.path {
                stroke: #fff !important;
            }
        }
    }
}

.product-icons-svg {
    path {
        stroke: $primary-clr;
        stroke-width: 1.5px;
        fill: none;
    }
    polyline.path,
    line.path {
        stroke: $primary-clr !important;
    }
}

.products-gallery:hover .product-icons {
    opacity: 1;
    transform: translateY(-15px);
    transition: all 0.3s;
}

.product-tooltip {
    position: absolute;
    right: 45px;
    top: 2px;
    min-width: 90px;
    background: #000;
    color: #fff;
    height: 30px;
    font-family: "Jost", sans-serif;
    line-height: 28px;
    opacity: 0;
    font-size: 12px;
    border-radius: 3px;
    transform: translateX(10px);
    transition: transform 0.3s;
}

.product-tooltip::after {
    content: "";
    position: absolute;
    left: 106%;
    top: 25%;
    transform: translateX(-50%);
    border: 6px solid;
    opacity: 0.9;
    border-color: #0000 #0000 #0000 #000;
}

.wishlist-tooltip {
    position: absolute;
    right: 45px;
    top: 2px;
    min-width: 90px;
    background: #000;
    color: #fff;
    height: 30px;
    font-family: "Jost", sans-serif;
    line-height: 28px;
    opacity: 0;
    font-size: 12px;
    border-radius: 3px;
    transform: translateX(10px);
    transition: transform 0.3s;
}

.wishlist-tooltip::after {
    content: "";
    position: absolute;
    left: 106%;
    top: 25%;
    transform: translateX(-50%);
    border: 6px solid;
    opacity: 0.9;
    border-color: #0000 #0000 #0000 #000;
}

.preview-tooltip {
    position: absolute;
    right: 45px;
    top: 2px;
    min-width: 65px;
    background: #000;
    color: #fff;
    height: 28px;
    font-family: "Jost", sans-serif;
    line-height: 25px;
    opacity: 0;
    font-size: 12px;
    border-radius: 3px;
    transform: translateX(10px);
    transition: transform 0.3s;
}

.preview-tooltip::after {
    content: "";
    position: absolute;
    left: 108%;
    top: 25%;
    transform: translateX(-50%);
    border: 6px solid;
    opacity: 0.9;
    border-color: #0000 #0000 #0000 #000;
}

.product-link-button:hover .product-tooltip,
.product-wish-button:hover .wishlist-tooltip,
.product-preview-button:hover .preview-tooltip {
    opacity: 0.8;
    transform: translateX(0);
}

.product-filter-wrapper {
    text-align: right;
    color: $secondary-clr;
}

.product-show {
    font-family: "Jost", sans-serif;
}

.product-show-digit {
    cursor: pointer;
    color: rgba(98, 98, 98, 0.4);
    transition: all 0.5s;
    position: relative;
}
.product-show-digit::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $secondary-clr;
    visibility: hidden;
}
.product-show-digit:hover {
    color: rgba(98, 98, 98, 0.6);
}
.product-show-digit:active {
    color: $secondary-clr;
}
.product-show-digit:active::after {
    width: 100%;
}

.product-filter {
    font-family: "Jost", sans-serif;
    display: inline;
}
.product-filter-image {
    width: 20px;
}
.product-filter-hover {
    display: inline;
    cursor: pointer;
}
.product-filter-hover:hover .product-filter {
    text-decoration: underline;
}

.products-button {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
    font-weight: 500;
    width: 135px;
    &:hover {
        background-color: transparent;
        color: $primary-clr;
        border: 1px solid $primary-clr;
    }
}

.products-button {
    a {
        color: #fff;
        text-decoration: none;
    }
    &:hover a {
        color: $primary-clr;
    }
}

/* PRODUCTS PREVIEW */

.product-preview-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 52;
    display: none;
}
.product-preview {
    position: relative;
    background-color: $body-clr;
    z-index: 55;
    max-height: 500px !important;
    overflow: hidden;
}
.preview-info-container {
    overflow-y: scroll;
    max-height: 500px !important;
}
.preview-close-button {
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
    background: none;
    border: none;
}
.preview-close-button svg {
    stroke: rgba(26, 15, 15, 0.5);
    transform: rotate(0deg);
    transition: all 0.3s;
}
.preview-close-button:hover svg {
    stroke: rgba(0, 0, 0, 1);
    transform: rotate(180deg);
    transition: all 0.3s;
}
.preview-info {
    font-family: "Jost", sans-serif;
}
.preview-info-heading {
    font-size: 2.2rem;
    padding-top: 2rem;
    font-family: bodoni-moda;
    color: $paragraph-clr;
}
.preview-price {
    color: $primary-clr;
    font-weight: 400;
}
.preview-info-description {
    padding-bottom: 1rem;
    color: $secondary-clr;
}
.preview-options {
    font-size: 1.1rem;
    color: $secondary-clr;
    padding-right: 2rem;
}
.preview-options-material {
    border: 5px solid #fff;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.material-box {
    margin-right: 7px;
}
.preview-size-box {
    line-height: 36px;
}
.preview-size {
    padding: 3px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        border: 1px solid rgba(0, 0, 0, 1);
    }
}
.preview-options-select {
    width: 50%;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    padding-right: 20px;
    padding-bottom: 5px;
    color: #7b7876;
    &:is(:focus, :active, :visited, :link, :focus-visible) {
        background-color: #fff;
        color: $primary-clr;
        outline: none;
    }
}
.preview-user-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.preview-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.preview-user-info-input {
    font-size: 1.3rem;
    background: none;
    padding: 7px 30px;
    text-align: center;
    border: 1px solid #000;
    color: #7b7876;
    font-family: "Jost", sans-serif;
}
.preview-user-info-button {
    width: 35px;
    height: 90%;
    font-size: 2rem;
    background: none;
    border: none;
    &:hover {
        background-color: rgba(123, 120, 118, 0.1);
    }
}
.preview-user-info-button-increment {
    position: absolute;
    right: 2%;
    top: 5%;
}
.preview-user-info-button-decrement {
    position: absolute;
    left: 2%;
    top: 5%;
}
.preview-user-icon {
    padding-bottom: 15px;
}
.preview-user-cart {
    opacity: 0.5;
    a {
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        cursor: not-allowed;
        background-color: $primary-clr;
        a {
            color: #fff;
            cursor: not-allowed;
        }
    }
}
.preview-wishlist {
    cursor: pointer;
}
.preview-tags {
    line-height: 35px;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #7b7876;
}
.preview-tag {
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 1.1rem;
    color: #000;
    background-color: rgba(123, 120, 118, 0.1);
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
        text-decoration: none;
        color: #000;
        cursor: pointer;
        background-color: rgba(123, 120, 118, 0.2);
    }
}
.preview-link {
    text-decoration: none;
    color: $primary-clr;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $primary-clr;
        text-decoration: underline $primary-clr;
    }
}
.preview-more {
    padding: 3px 8px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}
.material-tooltip {
    position: absolute;
    right: 10px;
    top: -40px;
    min-width: 55px;
    text-align: center;
    background: #000;
    color: #fff;
    height: 28px;
    font-family: "Jost", sans-serif;
    line-height: 25px;
    opacity: 0;
    font-size: 12px;
    border-radius: 3px;
    transform: translateY(10px);
    transition: transform 0.3s;
}

.material-tooltip::after {
    content: "";
    position: absolute;
    left: 52%;
    top: 95%;
    transform: translateX(-50%);
    border: 6px solid;
    opacity: 0.9;
    border-color: #000 #0000 #0000 #0000;
}
.material-box:hover {
    cursor: pointer;
}
.material-box:hover .material-tooltip {
    transform: translateY(0px);
    opacity: 0.8;
}
.earrings-overflow {
    overflow: hidden;
}
.preview-earrings {
    transform: rotate(-55deg) scale(2.5) translateX(-22%) translateY(18%);
}
.preview-slider-btn {
    position: absolute;
    top: 45%;
    background: none;
    border: none;
}
.preview-slider-btn svg {
    fill: rgba(0, 0, 0, 0.5);
}
.preview-slider-btn:hover svg {
    fill: rgba(0, 0, 0, 1);
}
.preview-slider-btn-left {
    left: 5%;
}
.preview-slider-btn-right {
    right: 5%;
}

/* FILTER TOGGLE */
.filter-toggle {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $body-clr;
    z-index: 36;
    padding-left: 15px;
    padding-right: 25px;
    font-family: "Jost", sans-serif;
    height: 100%;
    max-width: 25%;
    overflow-y: scroll;
    display: none;
}
.filter-heading {
    font-family: bodoni-moda;
    color: $paragraph-clr;
    font-size: 1.75rem;
    padding-top: 25px;
    padding-bottom: 40px;
}
.filter-types-heading {
    font-size: 1.1rem;
    color: $secondary-clr;
}
.filter-checkboxes {
    display: flex;
    flex-direction: column;
    color: $secondary-clr;
}
.filter-material-box {
    margin-right: -12px;
}
.filter-material-image {
    width: 75%;
    border: 5px solid #fff;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.filter-material-box:hover {
    cursor: pointer;
}
.filter-material-box:hover .material-tooltip {
    opacity: 0.8;
    transform: translateX(0);
}
.filter-gems,
.filter-materials {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.filter-sizes,
.filter-categories {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.filter-links {
    display: block;
    color: $secondary-clr;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 10px;
    &:hover {
        text-decoration: underline $secondary-clr;
        color: $paragraph-clr;
    }
}

/* PRODUCT DETAILS SECTION */
.product-details-section {
    font-family: "Jost", sans-serif;
    padding-top: $margin-lg;
}
.product-find-link {
    font-family: "Jost", sans-serif;
    color: $secondary-clr;
    opacity: 0.7;
    a {
        color: $secondary-clr;
        text-decoration: none;
    }
    &:hover a {
        color: $secondary-clr;
        text-decoration: underline $secondary-clr;
    }
}
.product-find-link-xl {
    display: none;
}
.product-jewelry-show {
    width: 75%;
}
.product-jewelry-overflow {
    overflow: hidden;
}
.product-jewelry-full {
    margin-right: 1.5rem;
    width: 25%;
    cursor: pointer;
}
.product-jewelry-zoom-box {
    width: 25%;
    overflow: hidden;
}
.product-jewelry-option {
    cursor: pointer;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}
.product-jewelry-option.activate {
    opacity: 1;
}
.product-related-wrapper {
    margin-top: 2rem;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3rem;
}
.product-related-price {
    font-size: 1rem !important;
    color: $secondary-clr;
}
.product-facility {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: $secondary-clr;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.product-facility-time,
.product-facility-payment,
.product-facility-delivery {
    padding: 5px 20px;
    p {
        padding-left: 1rem;
        padding-top: 1rem;
    }
}
.product-facility-time,
.product-facility-payment {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.product-gift-heading {
    font-size: 1.25rem;
    color: $paragraph-clr;
    font-weight: 400;
}
.product-gift-content {
    padding-top: 1rem;
    padding-bottom: 3rem;
    color: $secondary-clr;
}
.product-gift-overflow {
    overflow: hidden;
}
.product-gift-ring {
    transform: scale(2.8) translateY(20%);
}
.product-seo {
    padding-left: 1.5rem;
}
.product-related-tags {
    padding-top: 3rem;
    font-size: 1rem;
    padding-bottom: 0;
}
.product-related-tag {
    font-size: 0.9rem;
}
.product-categories {
    padding-bottom: 1.5rem;
    color: #7b7876;
}
.product-link {
    color: $dark-clr;
    &:hover {
        color: $dark-clr;
        text-decoration: underline $dark-clr;
    }
}
.product-more {
    color: $secondary-clr;
    font-size: 0.9rem;
}
.product-features-feature {
    p {
        color: $secondary-clr;
    }
    img {
        border-radius: 50%;
        width: 30px;
        background-color: #fdf7f2;
        margin-right: 10px;
    }
}
/* INSPIRATIONS PAGE */

.inspirations-main-section {
    margin-top: $margin-lg;
}

.inspirations-paragraph {
    font-size: 1.6rem;
    font-family: bodoni-moda;
    color: $paragraph-clr;
}

.inspirations-signature {
    font-family: "Jost", sans-serif;
    color: $secondary-clr;
}

.inspirations-sections {
    margin-top: 12rem;
}

.inspirations-digit {
    color: #fff;
    font-size: 13.5rem !important;
    font-family: bodoni-moda;
    position: absolute;
    z-index: -1;
    margin-top: -6rem;
    left: 52%;
    transform: translateX(-50%);
}

.inspirations-digit-change {
    margin-top: -6rem !important;
    left: 46% !important;
}

.inspirations-heading {
    font-size: 2.8rem;
    font-family: bodoni-moda;
    font-weight: 400;
    color: $dark-clr;
}

.inspirations-paragraph-color {
    color: $secondary-clr;
    font-family: "Jost", sans-serif;
}

.inspirations-button {
    width: 165px;
    height: 50px;
    font-weight: 500;
    margin-top: 3rem;
    &:hover {
        border: 1px solid $primary-clr;
        background-color: transparent;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}
.inspirations-button:hover a {
    color: $primary-clr;
}

/* SUBSCRIPTION */

.subscription {
    margin-top: 8rem;
}

.subscription-section {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2.5rem 5rem;
    padding-bottom: 5rem;
}

.subscription-image {
    margin-top: -6.5rem;
}

.subscription-heading {
    font-family: bodoni-moda;
    font-weight: 400;
    color: $paragraph-clr;
}

.subscription-sub-heading {
    color: $primary-clr;
}

.subscription-input {
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    width: 30%;
    font-family: "Jost", sans-serif;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
}

.subscription-button {
    width: 150px;
    font-weight: 500;
    margin-left: 1rem;
    &:hover {
        background-color: transparent;
        color: $primary-clr;
        border: 1px solid $primary-clr;
    }
}

/* ABOUT US PAGE */

.info-since {
    font-size: 1.2rem;
    color: $paragraph-clr;
}

.info-year {
    font-family: bodoni-moda;
    color: $primary-clr;
    font-size: 5rem;
    font-weight: 400;
}

.info-description {
    color: $secondary-clr;
    margin-top: 1.5rem;
}
.info-percent {
    font-family: bodoni-moda;
    font-size: 2.7rem;
    font-weight: 400;
    color: $dark-clr;
}
.info-detail {
    font-size: 1rem;
    color: $grey-clr;
}

.info-shop {
    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}

.info-wrapper {
    justify-content: center !important;
}

.collection-container {
    margin-top: 6rem;
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
    padding-bottom: 2.5rem;
    margin-bottom: 6rem;
    background-color: #fff;
    position: relative;
    font-family: "Jost", sans-serif;
}

.collection-content {
    padding-top: $margin-lg;
}

.collection-heading {
    font-size: 2.75rem;
    color: $dark-clr;
    font-family: bodoni-moda;
    font-weight: 400;
}

.collection-description {
    color: $secondary-clr;
}

.collection-button {
    background: none;
    border: none;
    margin-top: 2.75rem;
    padding-left: 0;
    a {
        color: $primary-clr;
        text-decoration: none;
        &:hover {
            color: $primary-clr;
            text-decoration: underline;
        }
    }
}

.about-authority {
    font-family: "Jost", sans-serif;
    color: $secondary-clr;
}

.about-story {
    padding-right: 6rem;
    border-right: 1px solid #f0e1d4;
}

/* CONTACT US PAGE */

.contact-heading {
    margin-bottom: 4rem;
    font-weight: 400;
    color: $paragraph-clr;
}

.contact-clr {
    color: $secondary-clr;
}

.contact-time-mb {
    margin-bottom: 1.9rem;
}

.contact-tel {
    font-size: 2.75rem;
    font-family: bodoni-moda;
    a {
        color: $dark-clr;
        text-decoration: none;

        &:hover {
            color: $dark-clr;
            text-decoration: none;
        }
    }
}

.contact-email {
    font-family: bodoni-moda;
    font-size: 1.8rem;
    a {
        color: $paragraph-clr;
        text-decoration: none;
        &:hover {
            color: $paragraph-clr;
            text-decoration: none;
        }
    }
}

.contact-button {
    width: 165px;
    height: 45px;
    background: none;
    border: 1px solid $primary-clr;
    color: $primary-clr;
    margin-top: 1.6rem;
    font-weight: 500;
    transition: all 0.2s;

    a {
        text-decoration: none;
        color: $primary-clr;
    }
    &:hover {
        background-color: $primary-clr;
    }
    &:hover a {
        color: #fff;
    }
}

/* Q&A SECTION */

.qa-container {
    background-color: #fff;
    margin-top: 6.2rem;
    padding-left: 4.25rem !important;
    padding-right: 4.75rem !important;
    padding-bottom: 3rem;
    position: relative;
}

.qa-content {
    padding-top: 7rem;
}

.qa-heading {
    font-size: 2rem !important;
    text-align: left;
    color: $paragraph-clr;
    font-family: bodoni-moda;
}

.qa-input-box {
    padding-left: 0.5rem;
    margin-top: 3.5rem;
}

.qa-input {
    display: block;
    padding-left: 0.75rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.4rem;
    font-family: "Jost", sans-serif;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    overflow: hidden;
}

.qa-button {
    width: 100%;
    height: 48px;
    background-color: $primary-clr;
    border: none;
    font-family: "Jost", sans-serif;
    color: #fff;
    transition: all 0.2s;

    &:hover {
        background-color: #fff;
        color: $primary-clr;
        border: 1px solid $primary-clr;
    }
}

/* FOOTER IMAGE GALLERY */
.gallery-item {
    padding: 0 !important;
}

.gallery-container {
    padding: 5rem !important;
}

.gallery-image {
    width: 100%;
    cursor: pointer;
}

/* POPUP */

.gallery-popup {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    overflow: hidden;
    cursor: zoom-out;
}

.gallery-popup-arrows {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.gallery-popup.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup-close {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: flex-end;
    cursor: zoom-out;
}

.popup-close-svg {
    opacity: 0;
    cursor: zoom-out;
    margin-bottom: 7.5px;
    &:hover path {
        fill: $primary-clr;
    }
    &:focus {
        margin-bottom: 5px;
    }
}

.popup-image-container {
    width: 70%;
    margin: 0 auto;
}

.popup-left-arrow {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 20px solid #ccc;
    border-bottom: 12px solid transparent;
}

.popup-right-arrow {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 20px solid #ccc;
    border-bottom: 12px solid transparent;
}

.popup-left-arrow:hover {
    border-right: 20px solid #fff;
}
.popup-right-arrow:hover {
    border-left: 20px solid #fff;
}

.popup-left {
    left: 10px;
}

.popup-right {
    right: 10px;
}

.index {
    width: 70%;
    margin: 0 auto;
    text-align: right;
    font-size: 12px;
    font-family: "Jost", sans-serif;
    color: #ccc;
    font-weight: 500;
    opacity: 0;
    cursor: pointer;
    padding-top: 5px;
}
.large-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    z-index: 40;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.gallery-popup.active .popup-close-svg,
.gallery-popup.active .index,
.gallery-popup.active .large-image,
.gallery-popup.active .gallery-popup-arrows {
    opacity: 1;
}

/* FOOTER */
footer {
    color: $paragraph-clr;
    font-family: "Jost", sans-serif;
}

.footer-links-section {
    margin-top: 1.25rem;
    margin-bottom: 7rem;
    h4,
    h3 {
        font-weight: 400;
        font-size: 1.25rem;
    }
}
.footer-paragraph {
    padding-top: 0.5rem;
}

.footer-payment-image {
    margin-top: 4.25rem;
}
.footer-navigation-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.75rem;
    li {
        a {
            text-decoration: none;
            color: inherit;
            &:hover {
                color: $primary-clr;
                text-decoration: underline;
            }
        }
    }
}

.footer-help {
    margin-bottom: 1.5rem;
}
.footer-phone {
    margin-bottom: 1rem;
}

.footer-hours {
    margin-top: 2rem;
}

/* COPYRIGHT */
.copyright-section {
    margin-bottom: 1rem;
}
.copyright-button {
    a {
        color: #fff;
        text-decoration: none;
    }
    &:hover a {
        color: $primary-clr;
    }
}

.scroll-top {
    width: 40px;
    height: 40px;
    background-color: $primary-clr;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
}

/* MEDIA QUERY */
@import "media-query.scss";
