/* COLOR VARIABLES */
$white-clr: #fff;
$black-clr: #000;
$primary-clr: #bb5644;
$secondary-clr: #626262;
$dark-clr: #2d2e36;
$darker-clr: #2d2e36d9;
$paragraph-clr: #4e4540;
$grey-clr: #444;
$body-clr: #fdf7f2;
$bg-color: #413732;

/* MARGINS */
$margin-lg: 4.5rem;
