/* Color Variables */

/* $breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
);

$fs-min: 12;
$fs-max: 50;

$lh-min: 18;
$lh-max: 42; */

/* COLOR VARIABLES */
$white-clr: #fff;
$black-clr: #000;
$primary-clr: #bb5644;
$dark-grey-1: #2d2e36d9;
$dark-grey-2: #444;
$paragraph-clr: #4e4540;
$para-color-1: #2d2e36;
$para-color-2: #626262;
$body-clr: #fdf7f2;
$bg-color: #413732;
