/* Color Variables */

//font size and line height values
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
);

$fs-min: 12;
$fs-max: 50;

$lh-min: 18;
$lh-max: 42;

/* COLOR VARIABLES */
$white-color: #fff;
$black-color: #000;
$primary-color: #bb5644;
$dark-grey-1: #2d2e36d9;
$dark-grey-2: #444;
$dark-grey-3: #4e4540;
$para-color-1: #2d2e36;
$para-color-2: #626262;
$body-color: #fdf7f2;
$bg-color: #413732;
